@model PagedList.IPagedList<Models.EF.CourseCategory>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Category Course
}
<a href="/CategoryCourse/Create">Create new course</a>
<div class="row">
    <div class="col-lg-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>
                                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Do you want delete this Category?",
                                        OnComplete = "$('#row_" + item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                                <td>@item.Name</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
